{erl_opts, [debug_info,
           warnings_as_errors,
           warn_untyped_record,
           {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{edoc_opts, [preprocess,
             {dir, "edoc"}]}.
{so_name, "riak_ensemble.so"}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.

{port_env, [ {"CC",  "/root/x-tools/arm-plum-linux-gnueabi/bin/arm-plum-linux-gnueabi-gcc"}
           , {"CFLAGS", "$CFLAGS -Wall"}
           , {"CXX", "/root/x-tools/arm-plum-linux-gnueabi/bin/arm-plum-linux-gnueabi-g++"}
           ]}.
{port_sources, ["c_src/*.c"]}.

{deps, [{lager, "2.0.3", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {eleveldb, ".*", {git, "git://github.com/plumlife/eleveldb.git", {branch, "rebar3"}}}]}.
